@*@model ProjetoViewModel
<div class="modal fade" id="@Model.TituloNormalizado" tabindex="-1" aria-labelledby="@Model.Id-Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@Model.Id-Modal">@Model.Titulo</h1>
                <button type="button" class="btn-fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="@Model.TituloNormalizado-form" asp-area="Admin" asp-controller="AdminProjeto" asp-action="Editar" data-bs-theme="portfolio-dark" class="row row-cols-1 g-3" autocomplete="off">
                    <input asp-for="Id" type="hidden">
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="Titulo" placeholder="Título" class="form-control text-white" />
                            <label asp-for="Titulo" class="control-label text-white">Título</label>
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="Descricao" placeholder="Descrição" class="form-control text-white" />
                            <label asp-for="Descricao" class="control-label text-white">Descrição</label>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="UrlImagem" placeholder="Url Imagem" class="form-control text-white" />
                            <label asp-for="UrlImagem" class="control-label text-white">Url Imagem</label>
                            <span asp-validation-for="UrlImagem" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="UrlRedirecionar" placeholder="Url Redirecionar" class="form-control text-white" />
                            <label asp-for="UrlRedirecionar" class="control-label text-white">Url Redirecionar</label>
                            <span asp-validation-for="UrlRedirecionar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="Status" placeholder="Título do Projeto" class="form-control text-white" />
                            <label asp-for="Status" class="control-label text-white">Status</label>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input asp-for="Excluido" placeholder="Título do Projeto" class="form-control text-white" />
                            <label asp-for="Excluido" class="control-label text-white">Excluído</label>
                            <span asp-validation-for="Excluido" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" form="@Model.TituloNormalizado-form" class="btn btn-primary">Salvar alterações</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="@Model.TituloNormalizado-modal-excluir" tabindex="-1" aria-labelledby="@Model.TituloNormalizado-modal-excluir" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@Model.TituloNormalizado-modal-excluir">@Model.Titulo</h1>
                <button type="button" class="btn-fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-white fs-4">
                    Deseja mesmo excluir esse projeto ?
                </p>
                <form id="@Model.TituloNormalizado-form-excluir" asp-area="Admin" asp-controller="AdminProjeto" asp-action="Excluir">
                    <input asp-for="Id" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" form="@Model.TituloNormalizado-form-excluir" class="btn btn-danger text-white">Salvar alterações</button>
            </div>
        </div>
    </div>
</div>


*@