@model IEnumerable<ProjetoPortfolio.Web.Models.ProjetoViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/projeto.min.css" />
<section class="container">

    <h1 class="text-white py-5">Projetos</h1>

    <div class="col-12 w-100 mb-3">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projetos</li>
            </ul>
        </nav>
    </div>

    <hr class="border-secondary mb-3" />

    <div class="row row-cols-md-2 row-cols-1 g-3">
        @if (Model.Any())
        {


            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card card-custom_bshadow bg-dark-darker ">
                        <div class="row g-0">
                            <div class="col-xl-5 col-md-12">
                                <img src="@item.UrlImagem" class="img-fluid rounded-start" alt="@item.Titulo">
                            </div>
                            <div class="col-xl-7 col-md-12">
                                <div class="card-body">
                                    <h3 class="card-title text-primary">@Html.DisplayFor(projetos => item.Titulo)</h3>
                                    <p class="card-text text-white">@Html.DisplayFor(projetos => item.Descricao)</p>
                                    @*<p class="card-text text-white">@Html.DisplayFor(projetos => item.Status)</p>*@
                                    <a href="#" class="btn btn-primary text-white">Acessar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div>
        <h3>@Html.DisplayFor(projetos => item.Excluido)</h3>
        </div>*@
            }
        }
    </div>
</section>
