@using ProjetoPortfolio.Web.Models.ViewModels;
@model IEnumerable<ProjetoPortfolio.Web.Models.ViewModels.ConteudoViewModel>

@{
    var classeCard = "col";
    var colClasse = "row-cols-2 row-cols-md-1";
    ViewData["Title"] = "Index";
}


<section class="container">
    <div class="row g-3">
        <a class="btn btn-primary col-4 text-white" data-bs-toggle="modal" data-bs-target="#modal-adicionar-conteudo">Adicionar Conteúdo</a>
        <article id="conteudo">

            @if (Model.Any())
            {
                <h1 class="h1 text-white">Conteúdo</h1>
                <hr class="border-primary" />

                @if (Model.Any() || Model.Count() > 0)
                {
                    classeCard = "col-4";
                    colClasse = "";
                }
                <div class="row @colClasse g-3">
                    @foreach (var item in Model)
                    {
                    <div class="@classeCard">
                        <div class="card bg-dark-darker text-white border-primary">
                            <h5 class="card-header border-primary text-primary"> @item.Conteudo.Titulo</h5>
                            <div class="card-body">
                                <h5 class="card-title">@item.Conteudo.Nome</h5>
                                <p class="card-text">@item.Conteudo.Conteudo</p>
                                <div class="d-flex align-content-center">

                                    <p class="card-text me-2">
                                        Categoria:

                                    </p> <a class="text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        @item.CategoriaConteudo.Nome
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark py-3">
                                        <li>
                                            <p class="px-2 py-0 my-0 text-secondary">Descrição</p>
                                            <p class="px-2 py-0 my-0 text-white">@item.CategoriaConteudo.Descricao</p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-footer border-primary">
                                <a class="btn btn-secondary text-white" data-bs-toggle="modal" data-bs-target="#@item.Conteudo.NomeNormalizado-modal">Editar</a>
                                <a class="btn btn-danger text-white">Excluir</a>
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("_EditarConteudoModal", item)
                    }
                </div>
            }
            else
            {
                <hr class="border-primary" />
                <h1 class="h1 text-white">Nenhum conteúdo encontrado</h1>
            }
        </article>
    </div>
</section>

@await Html.PartialAsync("_AdicionarConteudoModal", new ConteudoViewModel(){
    Conteudo = new ConteudoModel(),
    CategoriaConteudo = new CategoriaConteudo(),
    Categorias = ViewBag.Categorias,
})

