@using ProjetoPortfolio.Web.Models
@model IEnumerable<ProjetoPortfolio.Web.Models.ProjetoViewModel>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/adminProjeto.min.css" type="text/css" rel="stylesheet" />

<section class="container-fluid">
    <div class="container">
        <div class="row g-3">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-adicionar-projeto">Adicionar novo projeto</button>
            <table class="table table-dark">
                <thead>
                    <tr>

                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descricao</th>
                        <th scope="col">Status</th>
                        <th scope="col">Excluido</th>
                        <th scope="col">Normalizado</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.Status</td>
                            <td>@item.Excluido</td>
                            <td>@item.TituloNormalizado</td>
                            <td><button class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#@item.TituloNormalizado.ToLower()">Editar</button></td>
                            <td><button class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#@item.TituloNormalizado-modal-excluir">Excluir</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    @await Html.PartialAsync("_EditarProjetoModal", item);
}

@await Html.PartialAsync("_AdicionarProjetoModal", new ProjetoViewModel())